body {
	background-color: #add8e6;
}

p, h1, li, label {
	color: navy;
	font-family: "Verdana", Helvetica, sans-serif;
}

.buttons {
	background-color: #add8e6;
	color: navy;
	padding: 10px 24px;
	border: 2px solid #add8e6;
	transition-duration: 0.3s;
}

.buttons#hover {
	background-color: #5c98ab;
}