body {
	background-color: #add8e6;
}

div {
	padding: 10px;
}

a {
	text-decoration:none;
}

p, h1, li, label {
	color: #000080;
	font-family: "Verdana", Helvetica, sans-serif;
}

.buttons {
	background-color: #add8e6;
	color: #000080;
	padding: 10px 24px;
	border: 2px solid #000080;
	margin: 5px;
	transition-duration: 0.3s;
}

.buttons:hover {
	background-color: #5c98ab;
}

.explain, .search {
	text-align:center;
}

.search {
	border: 4px solid #000080;
	background-color: #83dbf7;
}

.select {
	left-margin:10px;
	right-margin:10px;
}