body {
	background-color: lightblue;
}

p, h1, li, label {
	color: navy;
	font-family: "Verdana", Helvetica, sans-serif;
}

#submitbutton {
	background-color: lightblue;
	color: navy;
	padding: 10px 24px;
}